html {
  background-color: bisque;
}
thead {
    background: #888;
  }
  
header {
  text-align: center;
  font-size: 5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

td {
  border: solid 2px black;
  text-align: center;
  width: 3%;
  height: 60%;
}

tr {
  border: solid 2px black;
  text-align: center;
  width: 3%;
  height: 60%;
}

th {
  padding: 20px*60%;
  border: solid 2px black;
  text-align: center;
  width: 3%;
  height: 60%;
}

img {
    width: 50%;
    height: 60%;
}

legend {
  text-align: center;
  margin: auto;
  height: 80%;
  position: relative;
  top: 50px;
  font-size: 25px;
}

fieldset {
  border: solid 2px black;
  text-align: center;
  margin: auto;
  position: relative;
  top: 80px;
  font-weight: bold;
}